.wishlist-container {
  padding: 1em;
  max-width: 1400px;
  margin: 0 auto;
}

.wishlist-header {
  margin-bottom: 1em !important;
}

.wishlist-filter {
  font-size: 0.85em;
  color: #888;
  margin-top: 0.25em;
}

.wishlist-container .ui.table td {
  vertical-align: middle;
}

.wishlist-container .ui.button {
  margin-right: 0.25em;
}

.wishlist-container .ui.button:last-child {
  margin-right: 0;
}

